* {
  font-family: helvetica;
  box-sizing: border-box;
}

html, body {
  width: 45em;
  margin: auto;
  display: flex;
  flex-flow: column;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 3em;
}

.subtitle {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

#clock {
  width: 300px;
  margin: auto;
  align: center;
}
