* {
  font-family: helvetica;
  box-sizing: border-box;
}

html, body {
  max-width: 40em;
  margin: auto;
  padding: 0em 1em;
  display: flex;
  flex-flow: column;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 3em;
}

.subtitle {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

.paragraph {
  font-size: 1em;
}

#clock {
  width: 300px;
  margin: auto;
  align: center;
}
